.page {
	background: #15b99b;
	color: rgb(160, 79, 79);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.button {
    background-color:#15b99b;
    border: none;
}
